*{
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body{
    overflow-y: auto;
    margin: 0;
    padding: 0;
    height: 100vh;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: URL("../img/fondo.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.3;
    z-index: -10;  
}



.formulario{
    background-color: rgba(11, 10, 2, 0.7);
    margin: 10px 80px 10px 80px;
    padding: 30px 40px 10px 40px;
    border-radius: 10px;
}

label{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
input{
    caret-color: black;
}

.titulo{
    padding-top: 50px;
    margin-top: 25px;
    text-align: center;
    padding-bottom: 30px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    padding: 10px 50px;
}

a{
    float: inline-end;
}